{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}


<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    {% if include.type == "grid" and teaser %}
      <div class="archive__item-teaser">
        <img src=
          {% if teaser contains "://" %}
            "{{ teaser }}"
          {% else %}
            "{{ teaser | prepend: "/images/" | prepend: base_path }}"
          {% endif %}
          alt="">
      </div>
    {% endif %}

      <h2>{{ post.title }}</h2>
      <p>
        {% if post.authors %}
          <em>Authors:</em>
          {% for author in post.authors %}
            {% if author == "Xingchen Zhou" %}
              <strong>{{ author }}</strong>
            {% else %}
              {{ author }}
            {% endif %}
            {% if forloop.last == false %}, {% endif %}
          {% endfor %}
          <br />
        {% endif %}
        {% if post.venue %}
          <em>Venue:</em> {{ post.venue }}<br />
        {% endif %}
        {% if post.date %}
          <em>Date:</em> {{ post.date | date: "%B %Y" }}<br />
        {% endif %}
        {% if post.paperurl and post.readurl}
        <p><br /><a href="{{ post.paperurl }}"> Download Paper</a> | <a href="{{ post.readurl }}">Read More</a></p>
        {% endif %}
      </p>

  </article>
</div>
